body {
    background-image: url('/images/operation-crossroads.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    text-align: center;

    .shade {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.5;
        z-index: 1;
    }
}

section#home {
    z-index: 100;
    position: relative;
    .has-it-started {
        padding-top: 3%;
        h1 { color: black; font-weight: 700; }
    }

    .footer {
        position: fixed;
        width: 90vw;
        right: 5vw;
        left: 5vw;
        bottom: 20px;

        .why {
            font-style: italic;
            font-size: 20px;
        }       
        .reason {
            font-size: 20px;
        } 
    }

    .jiggle {
        -webkit-animation: jiggle 0.2s infinite;
        -moz-animation-duration: 0.2s;
        -moz-animation-name: jiggle;
        -moz-animation-iteration-count: infinite;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
    }

    @-moz-keyframes jiggle {
        0% {
            -moz-transform: rotate(-2deg);
        }
        50% {
            -moz-transform: rotate(2deg);
        }
    }

    @-webkit-keyframes jiggle {
        0% {
            -webkit-transform: rotate(-2deg);
            }
        50% {
            -webkit-transform: rotate(2deg);
        }
    }    

    .no-container {

        position: absolute;
        width: 60%;
        left: 50%;
        transform: translate(-50%, -10%);
    

        .no {
            $noColor: #449d44;
            font-weight: 900;
            line-height: 90%;
            border-bottom: 10px solid $noColor;
            font-size: 7rem;
            @include media-breakpoint-up(md) {
                font-size: 13rem;
            }

            i.fa { 
                color: $noColor;
            };

        }

        .be-happy {
            font-size: 1.2rem;
            bottom: -4rem;
            @include media-breakpoint-up(md) {
                font-size: 2.5rem;
                bottom: -5rem;
            }
            position: absolute;
            left: 0;
            right: 0;
        }
    }

}